@mixin input {
    border: 1px solid #cfdadd;
    border-radius: 4px;
    padding: 2px 5px;
    outline: none;
    vertical-align: middle;
}

.query-filter {
    background: #fff;
    color: #777;
    padding: 10px 10px 7px;
    border-radius: 5px;

    .filter-item-container {
        display: inline-flex;
        align-items: center;
        margin-bottom: 7px;
        margin-right: 15px;
        min-width: 350px;

        &.middle {
            //width: 350px;
        }

        &.big {
            //width: 500px;
        }

        .filter-items {
            flex: 1;

            .filter-item {
                display: inline-block;
                cursor: pointer;
                padding: 2px 3px;
                margin-right: 12px;
                &.selected {
                    background: #2b77e5;
                    color: #fff;
                    border-radius: 3px;
                }
                &.filter-select-item {
                    min-width: 120px;
                }
            }
        }
    }

    .filter-item-label {
        label {
            min-width: 70px;
            display: block;
        }
    }

    .selected-filter {
        border-top: 1px solid #eee;
        padding-top: 7px;
        display: flex;
        align-items: center;
    }

    .selected-fitler-item {
        margin: 2px 5px 2px 0;
        display: inline-block;
        border: 1px solid #ddd;
        padding: 3px 7px;
        border-radius: 4px;
        .item-label {
            color: #aaaaaa;
        }
        .item-value {
            color: #2b77e5;
        }
    }

    .custom-content-input {
        width: 150px;
        @include input;

        &.number {
            width: 50px
        }

        ~ .unit {
            margin-left: 5px;
        }
    }
    .hospital-filter-input {
        width: 150px;
        @include input;
    }
}
