
.search-box {
    display: inline-block;

    input {

    }

    button {
        background: transparent;
        border: none;
        margin-left: 5px;
    }

    & ~ * {
        margin-left: 15px;
    }
}
