.hospital-manage {

}

.add-hospital-dialog {
    .get-city-position {
        text-align: center;
        margin-top: 30px;
    }
}

.update-hospital-dialog {
    .get-city-position {
        text-align: center;
        margin-top: 30px;
    }
}
