* {
    padding: 0;
    margin: 0;
}

html, body {
    font-family: SimSun Arial;
}

html, body, #root {
    height: 100%;
}

/*

body {
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Segoe UI", Roboto,
    "PingFang SC", "Hiragino Sans GB", SimSun, "Microsoft YaHei", sans-serif;
}
*/

//覆盖bootstrap样式
label {
    font-weight: normal;
    margin-bottom: 0;
}

.big-shell-app {
    height: 100%;
}

.app-left {
    height: 100%;
    float: left;
    width: 200px;
    display: flex;
    overflow: hidden;
    flex-direction: column;

    .app-user {
        font-size: 14px;
        color: #F7FAFF;
        background: #343C47;
        height: 60px;
        padding-left: 20px;

        .user-name {
            line-height: 60px;
            display: inline-block;
            border-top: 3px solid #32ACEF;
            cursor: pointer;
        }
    }
    .app-nav {
        flex: 1;
        background: #2B343D;
        padding-top: 15px;
    }
    .app-nav-menu {
        color: #8C959E;
        padding: 0 0 0 15px;

        .menu-title {
            cursor: pointer;
            padding: 10px 0;
            img {
                vertical-align: middle;
                height: 17px;
                margin-right: 7px;
            }
        }
        &.open {
            background: #222933;
            color: #fff;
            border-left: 3px solid #32ACEF;
        }
    }
    .app-sub-menu {
        background: #222933;
        color: #8C959E;
        padding: 7px 0 7px 25px;
        cursor: pointer;
        &:hover {
            color: #fff;
        }
        &.active {
            a {
                color: #32ACEF;
            }
        }
        a {
            color: #8C959E;
            display: block;
            text-decoration: none;
        }
    }
}

.app-right {
    margin-left: 200px;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .app-right-content {
        height: 60px;
    }

    .page-content {
        flex: 1;
        overflow: hidden;
    }

    .app-function-page {
        height: 100%;
        display: flex;
        flex-direction: column;
        background: #E6EBEF;

        .query-filter {
            margin-left: 15px;
            margin-right: 15px;
        }
        .query-filter, .fix-head-list {
            margin-top: 10px;
        }
    }
}

.ant-menu-dark .ant-menu-inline.ant-menu-sub {
    background: #2B343D;
}

.ant-menu-dark, .ant-menu-dark .ant-menu-sub {
    background: #2B343D;
}
