@mixin xx {
    display: inline-block;
    margin-left: 3px;
    cursor: pointer;
    width: 12px;
    height: 12px;
    background-size: cover;
}

.icon-remark {
    @include xx;
    background: url(./icon/edit.svg);

}

.icon-remove-filter-item {
    @include xx;
    background: url(./icon/remove.svg);
}