@mixin xx {
    display: inline-block;
    cursor: pointer;
    width: 14px;
    height: 12px;
    background-size: cover;
}

.icon-remark {
    background: url(./icon/edit.svg);
    @include xx;

}

.icon-remove-filter-item {
    background: url(./icon/remove.svg);
    @include xx;
}